@import '../CSS//Responsive.scss';

.home_page{
    display: flex;
    height: 100%;

    .textContainer{
        flex: 3;

        .wrapper{
            padding: 0 100px 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
            .title{
                font-size: 34px;
                font-weight: 500;
                line-height: 2.5rem;;
            }

            @include medium{
                justify-content: flex-start;
            }
        }

        .boxes{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            .box{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .box h1{
             font-size: 34px;
             margin: 0;
             color: #f75200;
            }

            .box h2{
                font-size: 17px;
                font-weight: 400;
                margin: 5px;
                color: grey;
                text-transform: capitalize;
            }
        }

        @include medium{
            width: 100%;

            .wrapper{
                padding: 20px 20px 0 20px;
                
                .title{
                    width: 70%;
                }

                .boxes{
                    padding: 5px;

                    .box h1{
                        font-size: 25px;
                    }

                    .box h2{
                        font-size: 15px;
                        padding: 0;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
        }

        @include small{
            .wrapper{
                gap: 40px;

                .title{
                    width: 95%;
                    font-size: 28px;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #fce5ff;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 115%;
            object-fit: contain;
            position: absolute;
            right: 0;
            margin-top: 0rem;
        }

        @include medium{
            display: none;
        }
    }
}