@import './Variables.scss';
@import './Responsive.scss';

.contents{
    width: 100%;
    display: flex;
    height: 100vh;

    .description_text{
        padding: 15px 10px 10px 10px;
        display: flex;
    }

    .list_left_container{
        flex: 3; 
        height: 100vh;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
        
        .desc{
            margin-left: 1rem;
            padding: 20px;

            .MuiTypography-root{
                padding:0 !important;

                strong{
                    color: rgb(202, 131, 0);
                }
            }
        }

        .wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            


            .laoding{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .pagination{
            display: flex;
            width: 100%;
            padding-bottom: 1.5rem;
            justify-content: right;
            
            .wrap{
                display: flex;
                flex-direction: row;
                justify-content: right;
                margin: 2rem;
            }
        }
    }

    .list_right_container{
        overflow: auto;
        flex: 2;
        height: 100%;
        background-color: $sec_color;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    @include medium{
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;

        .list_left_container{
            width: 100%;
            height: unset;
            margin-bottom: 2.5rem;
            margin-top: .2rem;
            overflow: unset;

            .wrapper{
                overflow: unset;
                margin: 10px auto;
                width: 95%;
            }
          
        }

        .list_right_container{
            z-index: 0;
            overflow: unset;
            padding: 20px;
            background-color: white;
            height: 100px;

        }
    }

}